$newImgWidth : 140px;

.group{
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    height: 30px;
    .text{
        margin-left: 10px;
        line-height: 30px;
        font-size: 12px;
    }
    .more{
        margin-right: 10px;
        line-height: 30px;
        font-size: 12px;
    }

}

.detail{
    background-color: #eeeeee;
    .groupdetail{
        border-radius: 10px;
        background: white;
        margin-bottom: 10px;
        display: flex;
        .groupdesc{
            margin-top: 10px;
            .desc{
                margin-left: 11px;
                font-size: 10px;
            }
            .title{
                margin-left: 15px;
            }
        }
        .groupimg{
            margin-left: 20px;
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
}

.topSearch{
    display: flex;
    position:absolute;
    top:25px;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    z-index: 100;

    .SelectSearch{
        position: absolute;
        text-align: center;
        line-height: 30px;
        width: 60px;
        top:1px;
        margin-left: 28px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: white;
    }
    .searchButton{
        margin-left: 80px;
        z-index: 10;
    }

    .searchIcon{
        margin-left: 6px;
        font-size: 30px;
        color: white;
    }
}